*{
  margin:0px;
  Padding:0px;
}
.fundo{
  position:relative;
  display:flex;
  width:100%;
  height:300px;
  background-image:url('/imagens/P_20240614_155751_0000.png');
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}
nav{
  position: absolute;
  top:10px;
  left:10px;
}
img{
  width:100%;
}